    {% if isIndex %}
    <nav class="navbar navbar-b navbar-trans js-scroll second-navbar fixed-top navbar-expand-md scrolling-navbar"
      role="navigation" id="subNav" style="position:initial; z-index: -100;">

      <a class="navbar-subbrand" href="#">Home</a>
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll" href="#service">Services</a></li>
            <li class="nav-item"><a class="nav-link js-scroll" href="#about">Who I Am</a></li>
            <li class="nav-item"><a class="nav-link js-scroll" href="#contact">Contact Me</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}