{% extends "base.html" %}

{% block body %}

<body style="padding-top: 100px;background: #0078ff;">
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Feedback</h1>
            <br>
            <br>
            <table class='table table-sm'>
                <tr>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Author</th>
                    <th>Subject</th>
                    <th>Created</th>
                </tr>
                {% for fback in fbacks %}

                <tr>
                    <td>{{s1}}{{fback.status}}{{s2}}</td>
                    <td>{{fback.priority}} </td>
                    <td>{{fback.author.fname}} {{fback.author.lname}} </td>
                    <td><a href='/feedback/{{fback.id}}'>
                            {% if fback.status == "2-Complete" %}
                            <s>
                                {% endif %}
                                {{fback.subject}}
                                {% if fback.status == "2-Complete" %}
                            </s>
                            {% endif %}
                        </a></td>
                    <td>{{moment(fback.createdate).calendar()}} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
{% endblock %}