{% extends "base.html" %}
{% block body %}


<body id="page-top">

    <!-- Content -->

    <div id="service" class="services-mf route">
        <video autoplay muted loop class="FullScreen">
            <source src="{{ url_for('static', filename='interactive.mp4') }}" type="video/mp4">
        </video>
        <div class="container">
            <!-- Button trigger modal-->

            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h3 class="title-a">
                            Featured Video Resources
                        </h3>
                        <p class="subtitle-a">
                            Watch, download, and save it to your personal board in your profile!
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="jumbotron text-center">
                    <table class='table table-sm'>

                        <tr>
                   
                            <th>Subject</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Created</th>
                        </tr>

                        {% for b in box %}
                        <tr>
                            <td>{{b.subject}} </td>
                            <td>{{b.title}} </td>
                            <td>{{b.author.fname}} {{b.author.lname}} </td>
                            <td>{{b.createdate}} </td>
                            <td data-target="#ExploreModal{{ b.id }}" data-toggle="modal"><a style="text-decoration: none;" href="#">Show</a></td>
                            
                        </tr>

                        {% endfor %}
                    </table>
                </div>

                {% for b in box %}
                <!-- Modal -->
                <div class="modal fade" id="ExploreModal{{ b.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{b.title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>{{b.body}}</p>
                                <p></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger"><a style="text-decoration: none; color:white" href="/deletevideo/{{b.id}}">Delete</a></button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary"><a style="text-decoration: none; color:white" target = "_blank" href="{{b.vlink}}">Watch</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>



            </section>

            <a href="#page-top" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</body>

{% endblock %}