{% extends "base.html" %}
{% block body %}


<body id="page-top">

    <section class="bg-image" id="livestream">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h3 class="title-a">
                            Livestreams
                        </h3>
                        <p class="subtitle-a">
                            Watch some incredible videos on how to help the environment and see
                            brilliant people helping our Earth!
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <a href="#page-top" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</body>

{% endblock %}