<!--You will likely make extensive edits to this file but I would suggest holding on this file (copy and rename)
because it is really help to be able to pull up all the values that are available for each user in the session,
via google and via the User data object-->

{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="jumbotron rounded text-center" style="background-color: #fff;">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Messages</a>
                    </li>
                </ul>

                <div class="tab-content py-4" style="padding-left:20px">
                    <div class="tab-pane active" id="profile">
                        <h4 class="mb-3">Your Profile</h4>
                        <div class="row">
                            <div class="mx-auto col-md-20">
                                <table class="table table-sm" style="border: 0px dotted silver;">
                                    <br>
                                    <tr>
                                        <td></td>
                                        <td><strong>First Name</strong></td>
                                        <td><strong>Last Name</strong></td>
                                        <td><strong>Email</strong></td>
                                        <td><strong>Birthday</strong></td>
                                        <td><strong>Pronouns</strong></td>
                                    </tr>

                                    <tr>
                                        <th><strong>Basic Information</strong></th>
                                        <td> {{ currUser['fname'] }}</td>
                                        <td> {{ currUser['lname'] }}</td>
                                        <td> {{ currUser['email'] }}</td>
                                        <td> {{ currUser['birthday'] }}</td>
                                        <td> {{ currUser['pronouns'] }}</td>
                                    </tr>
                                </table>
                                <table class="table table-sm" style="border: 0px dotted silver;">
                                    <br>
                                    <tr>
                                        <td></td>
                                        <td><strong>ID</strong></td>
                                        <td><strong>Google ID</strong></td>
                                        <td><strong>YouTube ID</strong></td>
                                    </tr>

                                    <tr>
                                        <th><strong>Advanced</strong></th>
                                        <td> {{ currUser['id'] }}</td>
                                        <td> {{ currUser['gid'] }}</td>
                                        <td> {{ currUser['channelID'] }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link
                                        to the latest summary report from the..
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">Yesterday</span> There has been a
                                        request on your account since that was..
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices
                                        quis, dapibus id dolor. Morbi venenatis lacinia rhoncus.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt
                                        ullamcorper eros eget luctus.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix
                                        for tibulum tincidunt ullamcorper eros.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <h4 class="mb-3">{{ session['displayName'] }}</h4>
                <br>
                <a href="#" data-toggle="modal" data-target="#profile-modal"><img width="140" height="140"
                        src="{{currUser['image']}}" class="rounded mx-auto img-fluid img-circle d-block"
                        alt="avatar"></a>
                <br>
                <em>"Click my profile icon for more information!"</em>
                <br>
                <br>
                <button class="btn btn-primary"><a href="#edit-profile" data-target="#edit-profile-modal"
                        data-toggle="modal" style="text-decoration: none; color:white;">Edit Information</a></button>
                <button class="btn btn-primary"><a href="/getyoutube" style="text-decoration: none; color:white;">Import
                        Youtube Data</a></button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% if currUser['admin'] == True %}
    <div class="jumbotron rounded text-center">
        <div class="span3 well">
            <center>
                <br>
                <h4>Google Data Objects</h4>
                <h6 style="color: red;"><em>Admin use only.</em></h6>
                <br>
            </center>
            <table class='table sized table-sm'>
                {% for item in data %}
                <tr>
                    <th><strong>{{item}}</strong></th>
                    <td> {{ data[item] }}</td>
                </tr>
                {% endfor %}

            </table>
            <center>
                <br>
                <h4>Session Objects</h4>
                <h6 style="color: red;"><em>Admin use only.</em></h6>
                <br>
            </center>
            <table class='table sized table-sm'>
                {% for item in session %}
                <tr>
                    <th><strong>{{item}}</strong></th>
                    <td> {{ session[item] }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">More About {{ session['displayName'] }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <center>
                        <img class="rounded" src="{{currUser['image']}}" name="aboutme" width="140" height="140"
                            border="0" class="img-circle"></a><br>
                        <br>
                        <h3 class="media-heading">{{ session['displayName'] }}, <small>
                                {{ currUser['country'] }}</small></h3>
                        <br>
                        <span><strong>Skills: </strong></span>
                        <span class="label label-warning">{{currUser['skills']}}</span>
                    </center>
                    <hr>
                    <center>
                        <p class="text-center"><strong>Biography</strong><br>
                            {{currUser['biography']}}</p>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                        <button class="btn btn-primary"><a href="#edit-skills-bio" data-target="#edit-skillsbio-modal"
                                data-dismiss="modal" data-toggle="modal"
                                style="text-decoration: none; color:white;">Update</a></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="edit-skillsbio-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Update {{ session['displayName'] }}'s Skills and Biography
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <center>
                        <h6 style="color:red">Note: All fields are required.</h6>

                        {% for field in pform.errors %}
                        {% for error in pform.errors[field] %}
                        <div class="alert alert-error">
                            <strong>Error! </strong>{{field}}: {{error}}
                        </div>
                        {% endfor %}
                        {% endfor %}

                        <form method=post>
                            {{ pform.csrf_token() }}
                            <table class="table">
                                <tr>
                                    <td>{{ pform.skills.label }}</td>
                                    <td>{{ pform.skills() }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ pform.biography.label }}
                                    </td>
                                    <td>
                                        {{ pform.biography() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ pform.country.label }}</td>
                                    <td>{{ pform.country() }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">{{pform.submit()}}</td>
                                </tr>
                            </table>
                        </form>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="edit-profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Update {{ session['displayName'] }}'s Profile</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <center>
                        <h6 style="color:red">Note: All fields are required.</h6>

                        {% for field in form.errors %}
                        {% for error in form.errors[field] %}
                        <div class="alert alert-error">
                            <strong>Error!</strong>{{field}}: {{error}}
                        </div>
                        {% endfor %}
                        {% endfor %}

                        <form method=post>
                            <table class="table">
                                <!--This displays the form from the form abject that was passed to the template. If the fileds have values in them
                    that were set by the routes code, then it will be editing.  If they are empty it 
                    will create a new secion. -->
                                <tr>
                                    <td>{{ form.hidden_tag() }}{{ form.fname.label }}</td>
                                    <td>{{ form.fname }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.lname.label }}</td>
                                    <td>{{ form.lname() }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.pronouns.label }}</td>
                                    <td>{{ form.pronouns() }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.birthday.label }}</td>
                                    <td>{{ form.birthday() }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">{{form.submit()}}</td>
                                </tr>
                            </table>
                        </form>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="back-to-top"><span class="iconify" data-icon="ion:arrow-up-circle-sharp" data-inline="false"
        style="color: #0078ff;" data-width="72" data-height="72"></span></a>


{% endblock %}